<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="content" class="page">
        <!-- Top Navbar-->
        <div class="navbar theme-purple">
            <div class="navbar-inner">
                <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a>
                </div>
                <div class="center sliding">{{title}}</div>
            </div>
        </div>
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block">
                {{html}}
            </div>
        </div>
    </div>
</div>