<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Bookleoid</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.material.min.css">
    <link rel="stylesheet" href="css/framework7.material.colors.min.css">
    <!-- Path to Font Awesome Library CSS-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/bookleoid.css">
    <script type="text/javascript" src="cordova.js"></script>
    
    <!--para el correo de contactanos-->
    <script type="text/javascript" src="js/mailTo.js"></script>
    
    <!--para el manejo de mapa con google maps plugin-->
    <script type="text/javascript" src="js/map.js"></script>

    <link href="css/font-sans.css" rel="stylesheet" type="text/css">
    <link href="css/font-roboto.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/mainMenu.css">
</head>
<body>
<!-- Status bar overlay for fullscreen mode-->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
    <div class="content-block-title">Bienvenido a Camino a los Altares</div>
    <div class="content-block">
        <div class="content-block-inner">
            <p style="text-align: justify">Aplicación desarrollada por la Conferencia Episcopal Venezolana (CEV) con el
                objetivo de mantener informada a la comunidad católica venezolana sobre
                los avances de los procesos de los personajes catolicos que se encuentran en trámites para ser
                trasladados a los altares</p>
        </div>
    </div>
    <div class="content-block-title">Contáctanos</div>
    <div class="content-block">
        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input type="email" placeholder="Correo" id="from">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <textarea placeholder="Mensaje" id="body"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href='' onclick="sendMail()" type="submit" class="button color-purple alert-text">Enviar</a>
    </div>
</div>
<!-- Views-->
<div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-fixed">
            <!-- Page, data-page contains page name-->
            <div data-page="mainMenu" class="page">
                <!-- Top Navbar-->
                <div class="navbar theme-purple">
                    <div class="navbar-inner">
                        <div class="left">
                            <!-- Right link contains only icon - additional "icon-only" class-->
                            <a href="#" class="link icon-only open-panel">
                                <i class="icon fa fa-lg fa-question-circle"></i>
                            </a>
                        </div>
                        <!-- We have home navbar without left link-->
                        <div class="center">{{title}}</div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="image-zoom-container">
                        {{#sections}}
                        <div class="zoom-container">
                            <a href="{{link}}" data-context-name="{{linkContext}}">
					            <span class="zoom-caption">
						            <h3>{{name}}</h3>
					            </span>
                                <img src="{{img}}"/>
                            </a>
                        </div>
                        {{/sections}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="js/framework7.min.js"></script>
<!-- Path to Bookleoid Data JS-->
<script type="text/javascript" src="js/bookleoid.data.js"></script>
<!-- Path to Bookleoid App JS-->
<script type="text/javascript" src="js/bookleoid.app.js"></script>
<!-- Path to jQuery -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<!-- Path to Cyclotron -->
<script type="text/javascript" src="js/jquery.cyclotron.min.js"></script>
<!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
</body>
</html>