<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="mapview" class="page">
        <div class="navbar theme-purple">
            <div class="navbar-inner">
                <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a>
                </div>
                <div class="center sliding">Ubicación</div>
            </div>
        </div>
        <div class="page-content">
            <div class="content-block">
                <button id="button" onclick="listo()">Click Me!</button>
                <div id="map_canvas" style="height: 80vh;"></div>
            </div>
        </div>
    </div>
</div>