<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="subSections" class="page">
        <!-- Top Navbar-->
        <div class="navbar theme-purple">
            <div class="navbar-inner">
                <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a>
                </div>
                <div class="center sliding">{{title}}</div>
            </div>
        </div>
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block">
                <div class="list-block accordion-list">
                    <ul>
                        {{#sections}}
                        <li>
                            <a href="content.html" data-context-name="{{linkContext}}" class="item-link item-content">
                                <div class="item-media">
                                    <img class="icon" src="{{img}}">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">{{name}}</div>
                                </div>
                            </a>
                        </li>
                        {{/sections}}
                        {{#ubicacion}}
                        <li>
                            <a href="" onclick="goToMap()" data-context-name="{{linkContext}}" class="item-link item-content">
                                <div class="item-media">
                                    <img class="icon" src="{{img}}">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">{{name}}</div>
                                </div>
                            </a>
                        </li>
                        {{/ubicacion}}
                        {{#tour}}
                        <li class="accordion-item">
                            <a href="#" class="item-content item-link" data-context-name="{{linkContext}}">
                                <div class="item-media">
                                    <img class="icon" src="{{img}}">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">{{name}}</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    <div class="list-block">
                                        <ul>
                                            {{#values}}
                                            <li>
                                                <a href="tour.html" class="item-content item-link" data-context-name="{{linkContext}}">
                                                    <div class="item-media">
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title">{{name}}</div>
                                                    </div>
                                                </a>
                                            </li>
                                            {{/values}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/tour}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>