<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="tour" class="page">
        <!-- Top Navbar-->
        <div class="navbar theme-purple">
            <div class="navbar-inner">
                <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a>
                </div>
                <div class="center sliding">{{tour_name}}</div>
            </div>
        </div>
        <!-- Scrollable page content-->
        <div class="page-content" data-context-name="{{linkContext}}">
            <div class="cycle" style="background:url({{img}}) left center / cover;height:100%;"></div>
        </div>
    </div>
</div>